<!DOCTYPE html>
<html lang="en" class="no-js">
<head>
    <!-- Mobile Specific Meta -->
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Favicon-->
    <link rel="shortcut icon" href="img/fav.png">
    <!-- Author Meta -->
    <meta name="author" content="colorlib, dioxid">
    <!-- Meta Description -->
    <meta name="description" content="{{ meta_description }}">
    <!-- Meta Keyword -->
    <meta name="keywords" content="{{ meta_keywords }}">
    <!-- meta character set -->
    <meta charset="UTF-8">
    <!-- Site Title -->
    <title>{{ title }}</title>

    <link href="https://fonts.googleapis.com/css?family=Poppins:100,200,400,300,500,600,700" rel="stylesheet">
    <!--
    CSS
    ============================================= -->
    <link rel="stylesheet" href="css/linearicons.css">
    <link rel="stylesheet" href="css/font-awesome.min.css">
    <link rel="stylesheet" href="css/bootstrap.css">
    <link rel="stylesheet" href="css/magnific-popup.css">
    <link rel="stylesheet" href="css/nice-select.css">
    <link rel="stylesheet" href="css/animate.min.css">
    <link rel="stylesheet" href="css/jquery-ui.css">
    <link rel="stylesheet" href="css/owl.carousel.css">
    <link rel="stylesheet" href="css/main.css">
</head>
<body>
<header id="header" id="home">
    <div class="header-top">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-lg-6 col-sm-6 col-4 header-top-left no-padding">
                    <a href="/"><img src="img/logo.png" alt="" title=""/></a>
                </div>
                <div class="col-lg-6 col-sm-6 col-8 header-top-right no-padding">
                    <a class="btns" href="tel:{{ opts.phone }}">{{ opts.phone }}</a>
                    <a class="btns" href="mailto:{{ opts.email }}">{{ opts.email }}</a>
                    <a class="icons" href="tel:{{ opts.phone }}">
                        <span class="lnr lnr-phone-handset"></span>
                    </a>
                    <a class="icons" href="mailto:{{ opts.email }}">
                        <span class="lnr lnr-envelope"></span>
                    </a>
                </div>
            </div>
        </div>
    </div>
    <div class="container main-menu">
        <div class="row align-items-center justify-content-between d-flex">
            <nav id="nav-menu-container">
                <ul class="nav-menu">
                    <li class="menu-active"><a href="/">Home</a></li>
                    <li><a href="/about">About</a></li>
                    <li><a href="/services">Services</a></li>
                    <li><a href="/opening-hour">Opening Hour</a></li>
                    <li><a href="/contact">Contact</a></li>
                </ul>
            </nav><!-- #nav-menu-container -->
            <div class="menu-social-icons">
                <a href="{{ opts.social_instagram }}"><i class="fa fa-instagram"></i></a>
                <a href="{{ opts.social_vk }}"><i class="fa fa-vk"></i></a>
                <a href="{{ opts.social_facebook }}"><i class="fa fa-facebook"></i></a>
                <a href="{{ opts.social_twitter }}"><i class="fa fa-twitter"></i></a>
            </div>
        </div>
    </div>
</header><!-- #header -->